.category__navigation {
  display: flex;
  align-items: center;
  .categoryGoToPocetna {
    text-decoration: none;
    font-size: 2.2rem;
    color: $primary-color;
    padding-bottom: 0.5rem;
    margin-right: 1rem;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $primary-color;
      transition: width 0.5s;
    }
  }
  .categoryGoToPocetna:hover.categoryGoToPocetna::after {
    width: 4rem;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
  }
}

.content__container-categories {
  display: flex;
  flex-direction: column;

  grid-column: 1 / 3;
  grid-row: 6 / 7;

  &--info {
    padding-bottom: 7rem;
    .phoneModel {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-align: center;
      font-size: 1.6rem;
      color: $secondary-color;
      padding: 1rem;

      &:nth-child(even) {
        background: rgb(238, 238, 238);
      }

      &:nth-child(2) {
        border-radius: 10px 10px 0 0;
      }
      &:nth-child(1) {
        margin-top: 3rem;
        font-size: 1.5rem;
        color: $primary-color;
      }
    }
  }
}
