doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width initial-scale=1, maximum-scale=1,user-scalable=0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Cene Telefona | Trenutne cene telefona u Srbiji
        link(htef='https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap' rel='stylesheet')
        link(href='/css/main.css' rel='stylesheet')
    body
        .ErrorPageContainer
            .errorContent
            .goBackFromError
                a(href='/') Vrati se na početnu
        script(src='/js/bundle.js')
        script(src='/js/animations.js')
                            